{% extends "base/base.html" %}

{% block page_content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-center"><strong>Detalles del Catastro</strong></h5>
            <a href="{% url 'ControlUrbano:registros_lista' %}" class="btn btn-primary">Regresar</a>
            <a href="{% url 'ControlUrbano:render_pdf_view' pk=catastro.pk %}" class="btn btn-success">imprimir detalles</a>
        </div>
        <div class="card-body">
            <!-- Sección de Datos Generales -->
            <div class="section">
                <h5 class="section-title mb-2"><strong>Datos Generales</strong></h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre_propietario">Nombre del Propietario</label>
                            <p>{{ catastro.nombre_propietario }}</p>
                        </div>
                        <div class="form-group">
                            <label for="representante_legal">Representante Legal</label>
                            <p>{{ catastro.representante_legal }}</p>
                        </div>
                        <div class="form-group">
                            <label for="numero_oficial">Número Oficial</label>
                            <p>{{ catastro.numero_oficial }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="clave_catastral">Clave Catastral</label>
                            <p>{{ catastro.clave_catastral }}</p>
                        </div>
                        <div class="form-group">
                            <label for="superficie">Superficie</label>
                            <p>{{ catastro.superficie }}</p>
                        </div>
                        <div class="form-group">
                            <label for="calle">Calle</label>
                            <p>{{ catastro.calle }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sección de Ubicación -->
            <div class="section">
                <h5 class="section-title mb-2"><strong>Ubicación</strong></h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="colonia">Colonia</label>
                            <p>{{ catastro.colonia }}</p>
                        </div>
                        <div class="form-group">
                            <label for="delegacion">Delegación</label>
                            <p>{{ catastro.delegacion }}</p>
                        </div>
                        <div class="form-group">
                            <label for="codigo_postal">Código Postal</label>
                            <p>{{ catastro.codigo_postal }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="manzana">Manzana</label>
                            <p>{{ catastro.manzana }}</p>
                        </div>
                        <div class="form-group">
                            <label for="lote">Lote</label>
                            <p>{{ catastro.lote }}</p>
                        </div>
                        <div class="form-group">
                            <label for="fracciones">Fracciones</label>
                            <p>{{ catastro.fracciones }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sección de Detalles del Predio -->
            <div class="section">
                <h5 class="section-title mb-2"><strong>Detalles del Predio</strong></h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="parcelas">Parcelas</label>
                            <p>{{ catastro.parcelas }}</p>
                        </div>
                        <div class="form-group">
                            <label for="condominio">Condominio</label>
                            <p>{{ catastro.get_condominio_display }}</p>
                        </div>
                        <div class="form-group">
                            <label for="unidad">Unidad</label>
                            <p>{{ catastro.unidad }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre_condominio">Nombre del Condominio</label>
                            <p>{{ catastro.nombre_condominio }}</p>
                        </div>
                        <div class="form-group">
                            <label for="valor_unitario_zona">Valor Unitario Zona</label>
                            <p>{{ catastro.valor_unitario_zona }}</p>
                        </div>
                        <div class="form-group">
                            <label for="valor_unitario_predio">Valor Unitario Predio</label>
                            <p>{{ catastro.valor_unitario_predio }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sección de Valoración y Otras Características -->
            <div class="section">
                <h5 class="section-title mb-2"><strong>Valoración y Otras Características</strong></h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="valor_unitario_provicional">Valor Unitario Provisional</label>
                            <p>{{ catastro.valor_unitario_provicional }}</p>
                        </div>
                        <div class="form-group">
                            <label for="superficie_construccion">Superficie Construcción</label>
                            <p>{{ catastro.superficie_construccion }}</p>
                        </div>
                        <div class="form-group">
                            <label for="uso_suelo">Uso de Suelo</label>
                            <p>{{ catastro.get_uso_suelo_display }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tasa">Tasa</label>
                            <p>{{ catastro.tasa }}</p>
                        </div>
                        <div class="form-group">
                            <label for="frente_comun">Frente Común</label>
                            <p>{{ catastro.get_frente_comun_display }}</p>
                        </div>
                        <div class="form-group">
                            <label for="valor_fiscal">Valor Fiscal</label>
                            <p>{{ catastro.valor_fiscal }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sección de Fechas y Otros -->
            <div class="section">
                <h5 class="section-title mb-2"><strong>Fechas y Otros</strong></h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fecha_alta">Fecha de Alta</label>
                            <p>{{ catastro.fecha_alta }}</p>
                        </div>
                        <div class="form-group">
                            <label for="fecha_vigencia">Fecha de Vigencia</label>
                            <p>{{ catastro.fecha_vigencia }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="clave_anterior">Clave Anterior</label>
                            <p>{{ catastro.clave_anterior }}</p>
                        </div>
                        <div class="form-group">
                            <label for="comentario">Comentario</label>
                            <p>{{ catastro.comentario }}</p>
                        </div>
                        <div class="form-group">
                            <label for="tipo">Tipo de Predio</label>
                            <p>{{ catastro.get_tipo_display }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
