{% extends "base/base.html" %}

{% block page_content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Confirmar eliminación</h5>
        </div>
        <div class="card-body">
            <p>¿Estás seguro de que deseas eliminar el registro "{{ object.clave_catastral }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'ControlUrbano:registros_lista' %}" class="btn btn-primary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}
